In [30]:
setA = {"Aman", "Sanskriti", "Pranav", "Tanishka"}
setB = {"Aman", "Sanskriti"}
setA & setB #intersection operation

{'Aman', 'Sanskriti'}

In [32]:
setA = {"Aman", "Sanskriti", "Pranav", "Tanishka"}
setB = {"Aditya", "Shivam"}
setA.union(setB) #union operation

{'Aditya', 'Aman', 'Pranav', 'Sanskriti', 'Shivam', 'Tanishka'}

In [40]:
dictSet = {"Aman":25,"Aditya":18,"Sans":22}
dictSet.keys() #getting all keys of dictionary

dict_keys(['Aman', 'Aditya', 'Sans'])

In [39]:
dictSet = {"Aman":25,"Aditya":18,"Sans":22}
dictSet.values() #getting all values of dictionary

dict_values([25, 18, 22])

In [42]:
A = ('a','b','c')
A[0]

'a'

In [43]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [52]:
arr = ["5", "2", "8", "9", "52"]
for i in range(0,3):
    print(arr[i])

5
2
8

In [59]:
dataSet = ["5", "2", "8", "9", "52"]
for i in dataSet:
    print(i)

5
2
8
9
52

In [65]:
dataSet = ["Red", "Yellow", "Purple", "Orange"]
for i,color in enumerate(dataSet):
    print(i)
    print(color)

0
Red
1
Yellow
2
Purple
3
Orange

In [84]:
dataSet = ["Red", "Yellow", "Purple", "Orange"]
newData = []
itemNum = 0
while(dataSet[itemNum]!="Orange"):
    newData.append(dataSet[itemNum])
    itemNum += 1
newData

['Red', 'Yellow', 'Purple']

In [85]:
A=[3,4,5]
for a in A:
    print(a)

3
4
5

In [87]:
x=3
y=1
while(y!=x):
    print(y)
    y=y+1

1
2

In [90]:
a=1
def add(b):
    return a+b
c=add(10)
print(c)

11

In [93]:
def fun(*name):
    for name in name:
        print(name)
        
fun("Aman","Aditya","Dog",6565)

Aman
Aditya
Dog
6565

In [94]:
def f(*x):
    return sum(x)
print(f(55, 22, 66))

143

In [136]:
class Car(object):
    def __init__(self,make,model,color,owner_number=1):
        self.make = make
        self.model = model
        self.color = color
        self.owner_number = owner_number
    
    def carDetails(self):
        print("Car Model is: ", self.make)
        print("Car Brand is: ", self.model)
        print("Car Color is: ", self.color)
        print("Owner Details: ", self.owner_number)
    
    def sell(self):#increasing owner number if car is sold
        self.owner_number=self.owner_number+1
        
carFeature = Car(make="Honda",model="Accord",color="blue")#creating instance for Car Class & Setting Values

carFeature.carDetails()
carFeature.sell()

Car Model is:  Honda
Car Brand is:  Accord
Car Color is:  blue
Owner Details:  2

In [4]:
openFile = open("/home/knoldus/taskDone.txt","r")
openFile

In [17]:
with open("/home/knoldus/Desktop/mysql sheer","r") as FileA:
    fileData=FileA.read()#storing the values of FileA into fileData
    print(fileData)
print(FileA.closed)#closing the original file
print(fileData)

MY
True
MY

In [22]:
with open("/home/knoldus/Desktop/WrittenFile.txt","w") as FileA:
    fileData=FileA.write("This is written File\nThis is another Line")#writing the new values into a file

In [25]:
with open("/home/knoldus/Desktop/mysql sheer","r") as readFileFirst:
    with open("/home/knoldus/Desktop/NewFile.txt","w") as NewFile:
        for data in readFileFirst:#writing content of one file to another new file
            NewFile.write(data)